#search-input {
	background: transparent;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	color: #fff;
}

#search-button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}